{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Adding a thing {% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}

<script type='text/javascript'>
var capabilityId = 0;

function add_capability() {
    capabilityId++;
    var containerEl = document.getElementById('alexa_capabilities')
	var liEl = document.createElement('li');
	liEl.setAttribute('id', 'alexa_capability_li_' + capabilityId)
    liEl.innerHTML = `
        <select name="alexa_capability" id="alexa_capability_` + capabilityId + `">
            {% for alexa_capability in alexa_capabilities %}
            <option value="{{ alexa_capability['id'] }}">{{ alexa_capability['name'] }}</option>
            {% endfor %}
        </select>
        <input name="alexa_capability_properties" id="alexa_capability_properties_1" value="">
        <span class="input-group-btn">
            <button class="btn btn-success" type="button"  onclick="remove_capability(` + capabilityId + `);">-</button>
        </span>
    `;

    containerEl.appendChild(liEl)
}

function remove_capability(id) {
   document.getElementById('alexa_capability_li_' + id).remove();
}
</script>

<a href="{{ url_for('thing.thing_list') }}" id="list">List</a>

<form method="post" id="form-add">
    <label for="endpoint_id">Name ("EndpointId" - unique device id)</label>
    <input name="endpoint_id" id="endpoint_id" value="">

    <label for="friendly_name">Friendly Name</label>
    <input name="friendly_name" id="friendly_name" value="">

    <label for="description">Description</label>
    <input name="description" id="description" value="">

    <label for="manufacturer_name">Manufacturer Name</label>
    <input name="manufacturer_name" id="manufacturer_name" value="">

    <label for="alexa_category">Alexa Category</label>
    <select name="alexa_category" id="alexa_category">
        {% for alexa_category in alexa_categories %}
        <option value="{{ alexa_category['id'] }}">{{ alexa_category['name'] }}</option>
        {% endfor %}
    </select>

    <label for="alexa_capability_1">Alexa Capabilities and their Properties</label>
    <ul id="alexa_capabilities">
        <li id="alexa_capability_li_1">
            <select name="alexa_capability" id="alexa_capability_1">
                {% for alexa_capability in alexa_capabilities %}
                <option value="{{ alexa_capability['id'] }}">{{ alexa_capability['name'] }}</option>
                {% endfor %}
            </select>
            <input name="alexa_capability_properties" id="alexa_capability_properties_1" value=""/>
            <span class="input-group-btn">
                <button class="btn btn-success" type="button"  onclick="add_capability();">+</button>
            </span>
        </li>
    </ul>


    <input type="submit" value="Add">
</form>
{% endif %}
{% endblock %}