{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Adding a thing {% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}
<a href="{{ url_for('thing.list') }}" id="List">List</a>
<form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="">

    <label for="friendly_name">Friendly Name</label>
    <input name="friendly_name" id="friendly_name" value="">

    <label for="description">Description</label>
    <input name="description" id="description" value="">

    <label for="manufacturer_name">Manufacturer Name</label>
    <input name="manufacturer_name" id="manufacturer_name" value="">

    <label for="alexa_category_name">Alexa Category</label>
    <select name="alexa_category_name" id="alexa_category_name">
        {% for alexa_category in alexa_categories %}
        <option id="{{ alexa_category['id'] }}">{{ alexa_category['name'] }}</option>
        {% endfor %}
    </select>

    <label for="alexa_interfaces">Alexa Interfaces</label>
    <ul id="alexa_interfaces">
        <li>
            <select name="alexa_interface" id="alexa_interface">
                {% for alexa_interface in alexa_interfaces %}
                <option id="{{ alexa_interface['id'] }}">{{ alexa_interface['name'] }}</option>
                {% endfor %}
                <input name="alexa_interface_capabilities" id="alexa_interface_capabilities" value="">
            </select>
        </li>
    </ul>


    <input type="submit" value="Add">
</form>
{% endif %}
{% endblock %}