{% extends 'base.html' %}
{% if g.user and g.thing %}

{% block title %}{% block header %}Your thing '{{g.thing.endpoint_id}}'{% endblock %} - {{super()}}{% endblock %}

{% block container %}
<form method="post" id="form-delete">
    <div class="form-group">
        <label class="control-label">Are you sure to delete thing {{ g.thing.endpoint_id }} ({{ g.thing.friendly_name }}) ?</label>
    </div>

    <button type="submit" class="btn btn-danger">Sure, I'm ok with that</button>
</form>
{% endblock %}

{% block navpills %}
<ul class="nav nav-pills">
    <li role="presentation">
        <a href="{{ url_for('thing.thing_list') }}" id="list">List</a>
    </li>
    <li role="presentation">
        <a href="{{ url_for('thing.thing_view', thing_id=g.thing['id']) }}" id="view">View</a>
    </li>
    <li role="presentation">
        <a href="{{ url_for('thing.thing_edit', thing_id=g.thing['id']) }}" id="edit">Edit</a>
    </li>
    <li role="presentation" class="active">
        <a href="{{ url_for('thing.thing_delete', thing_id=g.thing['id']) }}" id="delete">Delete</a>
    </li>
</ul>
{% endblock %}

{% endif %}