{% extends 'base.html' %}
{% if g.user %}

{% block title %}{% block header %}Your things{% endblock %} - {{super()}}{% endblock %}

{% block container %}
<ul class="list-group">
    {% for thing in things %}
    <li class="list-group-item"><a href="view/{{ thing.id }}">{{ thing.endpoint_id }}: {{ thing.friendly_name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block navpills %}
<ul class="nav nav-pills">
    <li role="presentation" class="active">
        <a href="{{ url_for('thing.thing_list') }}" id="list">List</a>
    </li>
    <li role="presentation">
        <a href="{{ url_for('thing.thing_add') }}" id="add">Add</a>
    </li>
</ul>
{% endblock %}

{% endif %}