{% extends 'base.html' %}
{% if g.user %}

{% block title %}{% block header %}Your profile{% endblock %} - {{super()}}{% endblock %}

{% block container %}
<form method="post" class="form-horizontal">
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email address</label>
        <div class="col-sm-10">
            <input id="email" name="email" value="{{ g.user['email'] }}" disabled="disabled"
                   class="form-control" placeholder="Email"/>
        </div>
    </div>

    <div class="form-group">
        <label for="amazon_id" class="col-sm-2 control-label">Amazon ID</label>
        <div class="col-sm-10">
            <input id="amazon_id" name="amazon_id" value="{{ g.user['amazon_id'] }}" disabled="disabled"
                   class="form-control" placeholder="Amazon ID"/>
        </div>
    </div>

    <div class="form-group">
        <label for="user_scope_uuid" class="col-sm-2 control-label">User Scope UUID</label>
        <div class="col-sm-10">
            <input id="user_scope_uuid" name="user_scope_uuid" value="{{ g.user['user_scope_uuid'] }}" disabled="disabled"
                   class="form-control" placeholder="User Scope UUID">
        </div>
    </div>

    <button type="submit" class="btn btn-default">Generate new User Scope UUID</button>

</form>
{% endblock %}

{% endif %}