{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Your profile{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}
<form method="post">
    <label for="email">Email</label>
    <input name="email" id="email" value="{{ g.user['email'] }}" disabled="disabled">
    
    <label for="amazon_id">Amazon ID</label>
    <input name="amazon_id" id="amazon_id" value="{{ g.user['amazon_id'] }}" disabled="disabled">

    <label for="user_scope_uuid">User Scope UUID</label>
    <input name="user_scope_uuid" id="user_scope_uuid" value="{{ g.user['user_scope_uuid'] }}" disabled="disabled">

    <input type="submit" value="Generate new User Scope UUID">
  </form>
{% endif %}
{% endblock %}