Dockerfile*
docker-compose*
.dockerignore

.git
.gitignore

README.md
LICENSE

**/.DS_Store
.idea/
.vscode/
venv*/

*.pyc
**/__pycache__/

.mypy_cache/
.pyre/
.pyre_configuration

dist/
build/
*.egg-info/

.env
instance/