<!doctype html>
<title>{% block title %}{% endblock %} - My Raspi Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Cloud Controller</h1>
  <ul>
    {% if g.user %}
    <li><span>{{ g.user['username'] }}</span></li>
    <li><a href="{{ url_for('thing.thing_list') }}" id="things">Things</a></li>
    <li><a href="{{ url_for('user.profile') }}" id="profile">Profile</a></li>
    <li><a href="{{ url_for('user.logout') }}" id="logout">Log Out</a></li>
      {% else %}
    <li><a href="{{ url_for('user.login') }}">Log In</a></li>
      {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% if g.user %}
<!-- Amazon-related scripts -->
<script type="text/javascript">
  window.onAmazonLoginReady = function () {
    amazon.Login.setClientId('{{ config["AMAZON_CLIENT_ID"] }}');
  };

  document.getElementById('logout').onclick = function () {
    amazon.Login.logout();
  };
</script>
{% endif %}